<a href="https://colab.research.google.com/github/cmartinez4269/DS-2002/blob/main/Pandas_ACC_Players_HW_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#1.a) Load the CSV file
acc_basketball_df = pd.read_csv('/content/sample_data/acc_players-2324F (2).csv')

#1.b) Display first 5 rows of the DataFrame to understand the structure of the data.
acc_basketball_df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Totals,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Shooting,Unnamed: 15,Unnamed: 16,Unnamed: 17,Advanced,Unnamed: 19,Unnamed: 20
0,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
1,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.2,0.615,4.1,-0.1,-6.4
2,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.5,0.5,NaN,NaN,3.5,0,-6.7
3,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.62,9.4,0.9,-1.3
4,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0,1,NaN,1.1,0,-8.2

In [ ]:
print(acc_basketball_df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Totals', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Shooting',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Advanced', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [ ]:
#Change column names
acc_basketball_df.rename(columns={'Unnamed: 0': 'Rk', 'Unnamed: 1': 'Player', 'Unnamed: 2': 'Class', 'Unnamed: 3': 'Pos', 'Unnamed: 4': 'School', 'Unnamed: 6': 'MP', 'Unnamed: 7': 'TRB', 'Unnamed: 8': 'AST', 'Unnamed: 9': 'STL', 'Unnamed: 11': 'TOV', 'Unnamed: 12': 'PF', 'Unnamed: 13': 'PTS', 'Unnamed: 15': '2P%', 'Unnamed: 16': '3P%', 'Unnamed: 17': 'FT%', 'Unnamed: 19': 'WS', 'Unnamed: 20': 'BPM'}, inplace=True)
print(acc_basketball_df.columns)

Index(['Rk', 'Player', 'Class', 'Pos', 'School', 'Totals', 'MP', 'TRB', 'AST',
       'STL', 'Unnamed: 10', 'TOV', 'PF', 'PTS', 'Shooting', '2P%', '3P%',
       'FT%', 'Advanced', 'WS', 'BPM'],
      dtype='object')

In [ ]:
#2.a) Calculate the total points scored by all players combined.
acc_basketball_df['PTS'] = pd.to_numeric(acc_basketball_df['PTS'], errors='coerce')

total_points = acc_basketball_df['PTS'].sum()
print("Total points scored by all players combined:", total_points)

Total points scored by all players combined: 38411.0

In [ ]:
#2.b) Find the player who has played the most minutes (MP).
acc_basketball_df['MP'] = pd.to_numeric(acc_basketball_df['MP'], errors='coerce')
most_minutes_player = acc_basketball_df.loc[acc_basketball_df['MP'].idxmax()]['Player']
print('The player with the most minutes played is:', most_minutes_player)

The player with the most minutes played is: Casey Morsell

In [ ]:
#2c. Identify the top 5 players (TRB).
acc_basketball_df['TRB'] = pd.to_numeric(acc_basketball_df['TRB'], errors='coerce')
total_rebounds = acc_basketball_df.nlargest(5, 'TRB',)['Player']
print('The top 5 players in terms of total rebounds are:',  total_rebounds)

The top 5 players in terms of total rebounds are: 6        Armando Bacot
179    Ian Schieffelin
91     Harrison Ingram
45      Mohamed Diarra
150      Norchad Omier
Name: Player, dtype: object

In [ ]:
#3.a) Create a new DF containing only players who played more than 500 minutes.
acc_basketball_df['MP'] = pd.to_numeric(acc_basketball_df['MP'], errors='coerce')
five_hundo = acc_basketball_df[acc_basketball_df['MP'] > 500]
print(five_hundo)

      Rk            Player Class Pos          School Totals      MP    TRB  \
3      3     Prince Aligbe    SO   F  Boston College     35   651.0  119.0
5      5       Zack Austin    JR   F      Pittsburgh     33   746.0  137.0
6      6     Armando Bacot    SR   F  North Carolina     37  1123.0  380.0
8      8     Reece Beekman    SR   G        Virginia     34  1114.0  124.0
10    10        Chris Bell    SO   F        Syracuse     32   865.0   75.0
..   ...               ...   ...  ..             ...    ...     ...    ...
204  204     Jamir Watkins    JR   F   Florida State     33   928.0  199.0
207  207         Tre White    SO   G      Louisville     29   907.0  170.0
208  208  Chauncey Wiggins    SO   F         Clemson     36   639.0   76.0
210  210   Curtis Williams    FR   G      Louisville     32   564.0   42.0
216  216    Jaeden Zackery    JR   G  Boston College     36  1216.0  119.0

     AST STL  ... TOV   PF    PTS  Shooting    2P%    3P%    FT% Advanced  \
3     21  15  ...  30   51  164.0     0.435  0.522  0.147   0.62      9.4
5     29  32  ...  13   35  216.0     0.417  0.563  0.295  0.737       18
6     56  22  ...  60  100  538.0      0.54  0.544    0.4  0.781     24.6
8    212  68  ...  70   43  486.0     0.443  0.487   0.31  0.754     23.4
10    21  18  ...  26   58  384.0     0.434  0.459   0.42  0.842     14.9
..   ...  ..  ...  ..  ...    ...       ...    ...    ...    ...      ...
204   91  64  ...  84   92  514.0     0.457    0.5  0.344  0.795     24.2
207   39  24  ...  53   66  357.0     0.456  0.515  0.299  0.752       15
208   33   6  ...  26   46  196.0     0.442  0.528  0.349  0.714       11
210   20  12  ...  26   24  170.0     0.317  0.373  0.287  0.714      5.9
216  152  63  ...  71   78  408.0     0.484  0.511  0.405  0.824     16.4

       WS   BPM
3     0.9  -1.3
5     2.9   7.9
6     6.1   8.9
8     4.9  10.5
10    2.2   3.3
..    ...   ...
204   3.9   9.1
207   1.7   1.8
208   1.2   1.9
210  -0.2  -3.8
216   3.7   3.5

[98 rows x 21 columns]

In [ ]:
#3.b) Who are the top 3 Assist Leads in the League?
acc_basketball_df['AST'] = pd.to_numeric(acc_basketball_df['AST'], errors='coerce')
assist = acc_basketball_df[['Player','AST']]
highest_assists = assist.nlargest(3, 'AST')
print('The player with the highest total assists is:', highest_assists)

The player with the highest total assists is:              Player    AST
8     Reece Beekman  212.0
216  Jaeden Zackery  152.0
22    Elliot Cadeau  150.0

In [ ]:
#3.c) Who are the top 3 Shot Blockers?
acc_basketball_df['BLK'] = pd.to_numeric(acc_basketball_df['Unnamed: 10'], errors='coerce')
top_blockers = acc_basketball_df[['Player','BLK']]
print('The player with the highest total assists is:', top_blockers.nlargest(3, 'BLK'))

The player with the highest total assists is:             Player   BLK
52       Ryan Dunn  77.0
158   Quinten Post  61.0
6    Armando Bacot  56.0

In [ ]:
#4.a) Group the players by School and calculate the total points scored by each school.
acc_basketball_df['PTS'] = pd.to_numeric(acc_basketball_df['PTS'], errors='coerce')
school_points = acc_basketball_df.groupby('School')['PTS'].sum()
print(school_points)

School
Boston College    2667.0
Clemson           2785.0
Duke              2830.0
Florida State     2526.0
Georgia Tech      2272.0
Louisville        2304.0
Miami (FL)        2424.0
NC State          3101.0
North Carolina    3032.0
Notre Dame        2113.0
Pittsburgh        2495.0
School               0.0
Syracuse          2442.0
Virginia          2140.0
Virginia Tech     2547.0
Wake Forest       2733.0
Name: PTS, dtype: float64

In [ ]:
#4.b) Group the players by school and calculate the total assists (AST) for each team.
acc_basketball_df['AST'] = pd.to_numeric(acc_basketball_df['AST'], errors='coerce')
school_assists = acc_basketball_df.groupby('School')['AST'].sum()
print('The total assists by each school are:', school_assists)

The total assists by each school are: School
Boston College    509.0
Clemson           533.0
Duke              551.0
Florida State     406.0
Georgia Tech      425.0
Louisville        356.0
Miami (FL)        454.0
NC State          536.0
North Carolina    536.0
Notre Dame        335.0
Pittsburgh        452.0
School              0.0
Syracuse          442.0
Virginia          509.0
Virginia Tech     514.0
Wake Forest       429.0
Name: AST, dtype: float64

In [ ]:
#4.c) Sort the schools by total points scored and display the top 3 schools.
acc_basketball_df['PTS'] = pd.to_numeric(acc_basketball_df['PTS'], errors='coerce')
school_points = acc_basketball_df.groupby('School')['PTS'].sum()
print('The top three schools by points are:', school_points.nlargest(3))

The top three schools by points are: School
NC State          3101.0
North Carolina    3032.0
Duke              2830.0
Name: PTS, dtype: float64

In [ ]:
#What did you learn about working with CSV files and pandas DataFrames in this assignment?

'''Working with this .csv file, I felt that I had to really hone in on the skills
I learned in DS 1002---specifically, presentation and how best to convey the data
in a 'clean' display. Utilizing ".groupby" to aggragate the data and adding informational introductions
such as 'The top three schools are:' before the data was displayed assisted heavily in doing this by
allowing me to display values from specific columns into a concise table that
conveyed exactly what I wanted to convey. Moreover, the aesthetic choice to
change the column names into something more recallable (ex: 'Unnamed: 0' to 'RNK')
not only assisted in legibility, but my productivity as well. Overall, I just
learned to be smarter and more thoughtful about what I was doing with the data.
Moving foward, I'll not only have received the experience I gained carrying out
these specific tasks, but I now have a much better understanding of the interconnected
frameworks that make up pandas and .csv files. This is directly applicable to
future projects.  '''

In [ ]:
#What was the most challenging aspect of this assignment, and how did you overcome i?
'''The most challenging aspect of this assignment was figuring out how to to filter
the data down to only the most principal information by carefully crafting together
string indexes to create a complex, legible phrase. In past data science classes,
we've only had experience crafting simple phrases that often only did 1-2 mechanisms
at a time. Here, we're having to expand heavily on this by coupling different pandas
functions to do multiple things at once. It's like building Legos. '''

In [ ]:
#How do you think the insights gained from analyzing ACC basketball statistics could be applied to other real-world datasets?

'''This is directly applicable to my studies as as pre-law student, and the data collection
and analysis that is done in law firms. Interning at a law firm, I'm shown first-hand
how much attention to detail is required in order
to be a proper lawyer. Leaving out the shortest phrase, detail, or piece
of evidence, or not properly examining an opposing lawyer's submission for discovery
can throw the whole case, and even minor mistakes can get you sued for malpractice.  '''